{% extends "inlog_base.html" %}

{% block body %}
<div class="row">
  <div class="col-md-8">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    {% for post in posts %}
        <div class="card mb-3">
            <div class="card-body">
                <a href="{{ url_for('user', username=post['username'])}}" class="card-text">{{ post['username'] }}</a>
                <h5 class="card-title">{{ post['title'] }}</h5>
                <p class="card-text">{{ post['text'] }}</p>
                <p class="card-text"><small>{{post['time']}}</small></p>
            </div>
        </div>
    {% endfor %}
  </div>
</div>
{% endblock body %}
