<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Veritas</title>

    <!-- Подключение Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            padding-top: 60px; /* Учитывает высоту навигационной панели */
        }
        nav.navbar {
            background-color: #000 !important; /* Задаем черный цвет фона с !important, чтобы переопределить другие стили, если есть */
        }

        nav.navbar a {
            color: #fff !important; /* Задаем белый цвет текста с !important */
        }


    </style>

    {% block head %}
    {% endblock%}

</head>

<body>
<!-- Навигационная панель Bootstrap -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="{{url_for('home')}}">
        <img src="{{ url_for('static', filename='logo.png') }}" height="50"></img>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link btn btn-outline-light btn-sm" href="/reg">Зарегистрироваться</a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn btn-outline-light btn-sm" href="{{url_for('login')}}">Войти</a>
            </li>
        </ul>
    </div>
</nav>

<!-- Основной контент страницы -->
<div class="container mt-5">
    {% block body %}

    {% endblock %}

</div>

<!-- Подключение Bootstrap JS и зависимостей (Popper.js и jQuery) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
