{% extends 'base.html' %}
{% block body%}

  <!-- Page Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center mt-5">
        <h1 class="display-4">Welcome to Veritas</h1>
        <p class="lead">Veritas & GKR</p>

        <!-- Войти и Зарегистрироваться кнопки -->
        <div class="mt-4">
          <a href="{{url_for('login')}}" class="btn btn-outline-dark btn-lg mr-3">Войти</a>
          <a href="{{url_for('reg')}}" class="btn btn-outline-dark btn-lg">Зарегистрироваться</a>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
