{% extends "base.html" %}
{% block body %}
<div class="container mt-5">
    <h2>Регистрация</h2>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
           <p class="alert alert-danger">{{message}}</p>
            {%endfor%}
        {% endif %}
    {% endwith %}
    <form method="POST" action="reg">
        <div class="form-group">
            <label for="username">Usernmae: </label>
            <input type="text" class="form-control" id="username" name="username" required>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <div class="input-group">
                <input type="password" class="form-control" id="password" name="password" required>
                <div class="input-group-append">
                    <div class="input-group-text">
                        <input type="checkbox" onclick="togglePassword()"> Show password
                    </div>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Registration</button>
    </form>
    <script>
        function togglePassword() {
            var passwordField = document.getElementById("password");
            if (passwordField.type === "password") {
                passwordField.type = "text";
            } else {
                passwordField.type = "password";
            }
        }

        function toggleConfirmPassword() {
            var confirmPasswordField = document.getElementById("confirm_password");
            if (confirmPasswordField.type === "password") {
                confirmPasswordField.type = "text";
            } else {
                confirmPasswordField.type = "password";
            }
        }
    </script>
</div>
{% endblock %}